<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fruit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{259,88},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{259,130},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,43}</string>
                <key>spriteSourceSize</key>
                <string>{36,43}</string>
                <key>textureRect</key>
                <string>{{335,47},{36,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruit4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,35}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{247,175},{39,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruit5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{370,209},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{284,172},{39,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruit7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,40}</string>
                <key>spriteSourceSize</key>
                <string>{37,40}</string>
                <key>textureRect</key>
                <string>{{299,87},{37,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{252,216},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruitlignt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{338,85},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruitlignt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,39}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{290,213},{38,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruitlignt3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{300,129},{36,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruitlignt4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,37}</string>
                <key>spriteSourceSize</key>
                <string>{38,37}</string>
                <key>textureRect</key>
                <string>{{323,171},{38,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruitlignt5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,37}</string>
                <key>spriteSourceSize</key>
                <string>{38,37}</string>
                <key>textureRect</key>
                <string>{{331,211},{38,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruitlignt6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,37}</string>
                <key>spriteSourceSize</key>
                <string>{38,37}</string>
                <key>textureRect</key>
                <string>{{362,169},{38,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruitlignt7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{338,127},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruitlignt8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{380,47},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highscore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,50}</string>
                <key>spriteSourceSize</key>
                <string>{244,50}</string>
                <key>textureRect</key>
                <string>{{1,175},{244,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highscore_part.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,20}</string>
                <key>spriteSourceSize</key>
                <string>{232,40}</string>
                <key>textureRect</key>
                <string>{{419,1},{232,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mihoutao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{378,86},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,24}</string>
                <key>spriteSourceSize</key>
                <string>{123,24}</string>
                <key>textureRect</key>
                <string>{{127,227},{123,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage_part.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,17}</string>
                <key>spriteSourceSize</key>
                <string>{103,25}</string>
                <key>textureRect</key>
                <string>{{287,28},{103,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,85}</string>
                <key>spriteSourceSize</key>
                <string>{256,85}</string>
                <key>textureRect</key>
                <string>{{1,88},{256,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,85}</string>
                <key>spriteSourceSize</key>
                <string>{284,85}</string>
                <key>textureRect</key>
                <string>{{1,1},{284,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>target.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,24}</string>
                <key>spriteSourceSize</key>
                <string>{124,24}</string>
                <key>textureRect</key>
                <string>{{1,227},{124,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>target_part.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,25}</string>
                <key>spriteSourceSize</key>
                <string>{122,45}</string>
                <key>textureRect</key>
                <string>{{287,1},{122,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xinzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,46}</string>
                <key>spriteSourceSize</key>
                <string>{38,46}</string>
                <key>textureRect</key>
                <string>{{287,47},{38,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>image1.pvr.ccz</string>
            <key>size</key>
            <string>{440,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ee632417cf69908aa03f95a61f2bac8:684586d4520fe77595d15585114a413d:d382b8cf0d0387ba291a01f1486076d3$</string>
            <key>textureFileName</key>
            <string>image1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
